#Daily {
  margin-bottom: 20px;
  padding: .5em;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  background: none;
}

.DailyForecast {
  display: flex;
}

.DailyForecast h4 {
  color: #fff;
  font-size: 2em;
  font-weight: 200;
}

#Daily h3 {
  font-weight: 700 !important;
  margin-bottom: 5px;
}