#Daily {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 10px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

#MaxTemp {
  color: #F71142;
}

#LowTemp {
  color: #1181F7;
}

#Daily h3 {
  font-weight: 700 !important;
  margin-bottom: 5px;
}